@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

html {
    font-size: 15px;
}

body {
    font-family: "League Spartan";
}

main,
#top-part,
#lower-part,
.rating {
    display: flex;
}

main {
    flex-direction: column;
}

#top-left {
    width: 350px;
}

#top-left > h1 {
    font-size: 2.85rem;
    line-height: 2.6rem;
    margin-bottom: 20px;
}

#top-left > p {
    line-height: 1.3rem;
}

.rating {
    border-radius: 6px;
    align-items: center;
    padding: 13px 25px;
    width: 304px;
    background-color: hsl(300, 24%, 96%);
}

.rating:not(:last-of-type) {
    margin-bottom: 14px;
}

.stars img {
    width: 14px;
    margin-right: 2px;
}

.rating > span {
    font-weight: 700;
    margin-left: 25px;
    font-size: 0.91rem;
}

#top-right {
    width: 435px;
    display: flex;
    flex-direction: column;
}

.rating:nth-of-type(2) {
    align-self: center;
}

.rating:nth-of-type(3) {
    align-self: flex-end;
}

.review {
    padding: 30px 25px 15px 25px;
    width: 235px;
    background-color: hsl(300, 43%, 22%);
    border-radius: 7px;
}

.review .top {
    display: flex;
    align-items: center;
    gap: 15px;
}

.review img {
    border-radius: 50%;
    height: 35px;
}

.review h2 {
    font-size: 0.95rem;
    margin: 0 0 3px 0;
}

.review p {
    font-size: 0.90rem;
    line-height: 1.2rem;
    margin-top: 19px;
}

.review span {
    font-size: 0.96rem;
    color: hsl(333, 80%, 67%);
}

.review h2,
.review p {
    color: hsl(0, 0%, 100%);
}