@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

html {
    font-size: 15px;
}

body {
    font-family: "League Spartan";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main,
#top-part,
#lower-part,
.rating {
    display: flex;
}

#top-part {
    justify-content: space-between;
    gap: 50px;
}

main {
    flex-direction: column;
    width: 95%;
    max-width: 925px;
    padding: 20px;
    gap: 40px;
    border: 1px solid red;
}

#top-left {
    width: 375px;
}

#top-left > h1 {
    font-size: 2.85rem;
    line-height: 2.6rem;
    margin-bottom: 20px;
    color: hsl(300, 43%, 22%);
    margin-top: 15px;
}

#top-left > p {
    line-height: 1.3rem;
    color: hsl(303, 10%, 53%);
    font-weight: 500;
}

.rating {
    border-radius: 6px;
    align-items: center;
    padding: 13px 25px;
    width: 355px;
    background-color: hsl(300, 24%, 96%);
}

.rating:not(:last-of-type) {
    margin-bottom: 14px;
}

.stars img {
    width: 14px;
    margin-right: 2px;
}

.rating > span {
    font-weight: 700;
    margin-left: 25px;
    font-size: 0.91rem;
    color: hsl(300, 43%, 22%);
}

#top-right {
    width: 435px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rating:nth-of-type(2) {
    align-self: center;
}

.rating:nth-of-type(3) {
    align-self: flex-end;
}

.review {
    padding: 30px 25px 18px 20px;
    width: 250px;
    background-color: hsl(300, 43%, 22%);
    border-radius: 7px;
    min-width: 100px;
    flex-grow: 1;
}

#lower-part {
    flex-wrap: wrap;
}

.review .top {
    display: flex;
    align-items: center;
    gap: 15px;
}

.review img {
    border-radius: 50%;
    height: 35px;
}

.review h2 {
    font-size: 0.95rem;
    margin: 0 0 3px 0;
}

.review p {
    font-size: 0.90rem;
    line-height: 1.2rem;
    margin-top: 19px;
}

.review span {
    font-size: 0.96rem;
    color: hsl(333, 80%, 67%);
}

.review h2,
.review p {
    color: hsl(0, 0%, 100%);
}

#lower-part {
    justify-content: space-between;
    height: 210px;
    gap: 15px;
}

.review:nth-of-type(1) {
    align-self: flex-start;
}

.review:nth-of-type(2) {
    align-self: center;
}

.review:nth-of-type(3) {
    align-self: flex-end;
}

* {
    /* border: 1px solid yellowgreen; */
    box-sizing: border-box;
}

@media (max-width: 960px) {

    #lower-part {
        align-items: stretch;
        height: auto;
    }

    .review:nth-of-type(1),
    .review:nth-of-type(2),
    .review:nth-of-type(3) {
        align-self: auto;
    }

    #top-right {
        align-items: center;
    }

    #top-right .rating {
        align-self: auto;
    }

}